@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.input-base {
  @apply bg-gray-50;
  /* @apply border; */
  /* @apply border-gray-300; */
  @apply text-gray-900;
  @apply rounded-lg;
  /* @apply focus:border-blue-500; */
  @apply block;
  @apply w-full;
  @apply p-2.5;
  @apply mt-2;
}

.select-base {
  @apply mt-2;
}
.select-base input {
  padding: 0.25rem!important; 
  border-radius: 0.5rem!important;
}
